.flex-item {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.base {
    margin-bottom: 15px;
    background-color: #d0d3d4;
    border-radius: 4px;
}

.box1 {
    background-color: #63b1bc;
}

.box2 {
    background-color: #1f2a44;
}

.box3 {
    background-color: #ed145b;
}

.box4 {
    background-color: #efb661;
}

h1 {
    width: fit-content;
    margin: auto;
}

/* Insira o código abaixo */

.container1 {
    display: flex;
    justify-content: flex-start;
}

.container2 {
     display: flex;
    justify-content: flex-end;
}

.container3 {
    display: flex;
    justify-content: center;
}

.container4 {
    display: flex;
    justify-content: space-between;
}
.container5 {
     display: flex;
     flex-direction: row;
    justify-content: space-around;
    
}
.container6 {
     display: flex;
    justify-content: space-evenly;
}
.container7{
    display: flex;
    flex-direction: column;
}

.container7 .box4{
    
     order: 1;
     
}
.container7 .box3{
     order: 2;
     
}
.container7 .box2{
     order: 3;
     
}
.container7 .box1{
     order: 4;
     
}



.container8 {
     display: flex;
    flex-direction: row;
}
.container8 .box4{
    
     order: 1;
     
}
.container8 .box3{
     order: 2;
     
}
.container8 .box2{
     order: 3;
     
}
.container8 .box1{
     order: 4;
}